.section-price__btn-1{
  border-radius: 2px;
  border-color: $ballblue;
  background-color: $ballblue;
  width: 20em;
  height: 40px;
  margin:auto;
  top: 0;
  left:0;
  right: 0;
  button: 0;
  color: $white;
  font-size: $medium;
  font-weight: $bold;
  font-family: $opensans;
  border:0;


  &:hover{
      background-color: $middleblue;
      color: $white;
      border:0;
      }
  &:active{
    background-color: $darksalmon;
    color:$white;
    border:0;
  }
}
