body{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $raleway;
  font-size: $regular;
  font-weight: $medium;
}

/* Peso fuente*/
$regular: 400;
$bold: 700;

/*tamaño*/
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large:40px;
$xx-large:35px;
$x-large: 30px;
$large:20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
