.section-price {
  background-image: url("../img/bg-price.svg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;

  }

  .section-price__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

  .section-price__container
  .section-price_card{
    width: 330px;
    height: 450px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: 0;
    margin: 20px;
    text-align: left;
    transition: all 0.25s;
  }
  .section-price_card{
    background-color: $white;
  }

  .section-price__container
  .section-price_card:hover{
    transform: translateY(-15px);
    box-shadow: 0 20px 20px rgba(192,192,192,0.3);
    }

  .section-price__title {
    font-family: $raleway;
    font-weight: $bold;
    font-size: $xxx-large;
    color: $white;
    text-align: center;
  }


  .section-price__title-1,
  .section-price__title-2 {
    font-family: $opensans;
    font-weight: $regular;
    font-size: $x-large;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
  }

  .section-price__price-1,
  .section-price__price-2 {
    font-weight: $bold;
    padding-left: 35px;
    padding-right: 35px;
    font-size: $xxx-large;
    color: $raisingblack;
    transition: all 0.1s linear;
  }

.list_b{
    margin-top: 1em;
    margin-bottom: 7.58em;
}

.price__list-2{
  line-height: 28px;
}
.section-price__price-1:hover {
  color: $darksalmon;
}

.section-price__price-2:hover {
  color: $darksalmon;
}

@media only screen and (min-width: 770px) {
  .section-price__title{
    padding-top: 200px;
  }
}
